<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenido a mi sitio web</title>
    </head>
    <body>
        <h1>¡Hola, bienvenido a mi sitio web!</h1>
        <p>Esta es la página de inicio de mi aplicación Symfony.</p>
    </body>
</html>
